@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("SetData", "Home"))
{
    <input type="hidden" name="Prop1" value="100" /> <p>100</p>
    <input type="hidden" name="Prop2" value="Hello World" /> <p>Hello world</p>

    <input type="submit" name="submit" />
}